.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    color: black;
}
.container{
    background-color:aliceblue;
    width: 500px;
    border-radius: 10px;
    padding: 3rem;
    border-color: darkblue;
}
.title-heading{
    font-size: 15px;
    font-weight: 300;

}
.title_para{
    padding-top: 5px;
}
.display{
    width: 470px;
    height: 130px;
    margin-top: 30px;
    background-color:yellow;

}
.display-text{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amount{
    font-size: 30px;
    font-weight: 800;

}
.amount-para{
    font-size: 12px;
}
.input-box{
    margin-top: 30px;
    width: 470px;
}
.outlined-basic{
    width: 470px;
    border-color: aqua;
}
.btn-group{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.btn{
    width: 200px;
    height: 70px;
}